<h1>Lists</h1>
<%= link_to 'Make a new list', new_list_path, class: 'btn btn-primary'%>
<ul class="list-unstyled">
  <% @lists.each do |list| %>
    <div class="d-flex">
      <li><%= list.name %></li>
      <li class="btn btn-warning"><%= link_to 'Show', list_path(list)%></li>
    </div>
    <% end %>
</ul>
