<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.pptgrounds.com/wp-content/uploads/2012/08/Blue-movie-film-strip-backgrounds.jpg);">
  <div class="container">
    <h1 class="title-text">Movies by teslazonda</h1>
    <p class="title-text">Add your own list!</p>
  </div>
</div>


<div class="container">
  <div class="row d-flex justify-content-center flex-nowrap">
    <p><%= link_to 'Make a new list', new_list_path, class: 'btn btn-primary text-center'%></p>
  </div>

  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=list.photo.attached? ? cl_image_path(list.photo.key) : image_path('https://www.pptgrounds.com/wp-content/uploads/2012/08/Blue-movie-film-strip-backgrounds.jpg')  %>)">

        <div class="d-flex">
          <p class="card-text"><%= list.name %></p>
          <%= link_to 'Show', list_path(list), class:"btn btn-success card-button"%>
        </div>
      </div>
    <% end %>
  </div>
</div>
